AZURE_EXISTING_AGENT_ID=your-agent-id
AZURE_ENV_NAME=your-env-name
AZURE_LOCATION=your-location
AZURE_SUBSCRIPTION_ID=your-subscription-id
AZURE_EXISTING_AIPROJECT_ENDPOINT=your-aiproject-endpoint-url
AZURE_EXISTING_AIPROJECT_RESOURCE_ID=your-aiproject-resource-id
AZURE_EXISTING_RESOURCE_ID=your-resource-id
AZD_ALLOW_NON_EMPTY_FOLDER=true
